﻿// sass-lint:disable no-vendor-prefixes
@mixin user-select {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
@mixin sibling-style {
  @if $treeview-skin-name == 'material' {
    border-radius: 10px;
  }
  @else {
    border: 4px solid transparent;
  }
}
@mixin sibling-before($position) {
  @if $treeview-skin-name == 'material' {
    @if $position == 'rtl' {
      right: 6px;
      top: 3px;
    }
    @else {
      left: 6px;
      top: 3px;
    }
  }
  @else {
    @if $position == 'rtl' {
      right: 0;
    }
    @else {
      left: 0;
    }
  }
}
@include export-module('treeview-layout') {
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(359deg);
    }
  }

  @-webkit-keyframes rotation {
    from {
      -webkit-transform: rotate(0deg);
    }

    to {
      -webkit-transform: rotate(359deg);
    }
  }

  .e-bigger #{&}.e-treeview,
  #{&}.e-treeview.e-bigger {

    @if $treeview-skin-name == 'bootstrap4' {
      .e-ul,
      .e-list-item .e-ul {
        padding-left: 16px;
      }
    }

    .e-fullrow {
      height: $treeview-big-item-height;
    }

    .e-list-text {
      line-height: $treeview-big-text-height;
      @if $treeview-skin-name != 'bootstrap4' {
        min-height: $treeview-big-text-height;
      }
      @else if $treeview-skin-name == 'bootstrap4' {
        min-height: 38px;
      }
      padding: $treeview-big-text-padding;

      .e-input-group {
        height: $treeview-big-input-height;

        @if $treeview-skin-name != 'material' {
          .e-input {
            height: 36px;
          }
        }
      }
    }

    .e-checkbox-wrapper {
      margin: $treeview-big-check-margin;
      @if $treeview-skin-name == 'bootstrap4' {
        & + .e-list-text {
          padding: $treeview-big-check-text-padding;
        }
      }

      & + .e-list-icon,
      & + .e-list-img {
        margin: $treeview-big-check-image-margin;
      }
    }

    .e-list-icon,
    .e-list-img {
      margin: $treeview-big-image-margin;
      @if $treeview-skin-name == 'bootstrap4' {
        font-size: $treeview-big-image-font-size;
        }
      @if $treeview-skin-name == 'bootstrap4' {
        & + .e-list-text {
          padding: $treeview-big-image-text-padding;
        }
      }

      & + .e-list-icon,
      & + .e-list-img {
        margin: $treeview-big-icon-image-margin;
      }
    }

    .e-icon-collapsible,
    .e-icon-expandable {
      @if $treeview-skin-name == 'bootstrap4' {
        height: $treeview-big-icon-size;
        margin: $treeview-big-icon-margin;
        width: $treeview-big-icon-size;
      }
  }

    .e-icon-collapsible::before,
    .e-icon-expandable::before {
      padding: $treeview-big-icon-padding;
    }

    &.e-drag-item {

      @if $treeview-skin-name == 'bootstrap4' {

        .e-icon-collapsible,
        .e-icon-expandable {
          font-size: $treeview-big-drag-icon-font-size;
          padding: $treeview-big-drag-icon-padding;
        }

        .e-drop-count {
          border: $treeview-big-drop-count-border-size solid;
        }
      }
    }

    &.e-rtl {
      @if $treeview-skin-name == 'bootstrap4' {
        .e-icon-collapsible,
        .e-icon-expandable {
          margin: $treeview-big-rtl-icon-margin;
        }
      }

      .e-checkbox-wrapper {
        margin: $treeview-big-rtl-check-margin;

        & + .e-list-icon,
        & + .e-list-img {
          margin: $treeview-big-rtl-check-image-margin;
        }
      }

      .e-list-icon,
      .e-list-img {
        margin: $treeview-big-rtl-image-margin;

        & + .e-list-icon,
        & + .e-list-img {
          margin: $treeview-big-rtl-icon-image-margin;
        }
      }
    }
  }

  #{&}.e-treeview {
    display: block;
    overflow: hidden;
    position: relative;
    white-space: nowrap;

    & > .e-ul {
      -webkit-overflow-scrolling: touch;
      overflow: auto;
    }

    .e-ul {
      margin: 0;
      padding: $treeview-root-ul-padding;
    }

    li.e-node-collapsed .e-list-item .e-fullrow {
      display: none;
    }

    .e-list-item {
      list-style: none;
      @if $treeview-skin-name == 'bootstrap4' {
        padding: 4px 0;
      }
      @else {
        padding: 2px 0;
      }

      .e-ul {
        margin: 2px 0 -2px;
        padding: $treeview-child-ul-padding;
      }

      &.e-disable {

        > .e-text-content,
        > .e-fullrow {
          -ms-touch-action: none;
          filter: alpha(opacity=50);
          opacity: .5;
          pointer-events: none;
          touch-action: none;
        }
      }
    }

    .e-list-item .e-icons.e-icons-spinner::before {
      content: none;
    }

    .e-icons .e-spinner-pane {
      position: relative;
    }

    .e-text-content {
      @include user-select;
      border: 1px solid;
      cursor: pointer;
      margin: 0;
      padding: $treeview-text-wrap-padding;
    }

    .e-fullrow {
      @include user-select;
      border: 1px solid;
      box-sizing: border-box;
      cursor: pointer;
      height: $treeview-item-height;
      left: 0;
      overflow: hidden;
      position: absolute;
      width: 100%;
    }

    .e-checkbox-wrapper {
      margin: $treeview-check-margin;
      pointer-events: all;
      position: relative;

      & + .e-list-icon,
      & + .e-list-img {
        margin: $treeview-check-image-margin;
      }

      & + .e-list-text {
        padding: $treeview-check-text-padding;
      }

      .e-ripple-container {
        bottom: $ripple-size;
        height: $ripple-height;
        left:  $ripple-size;
        right:  $ripple-size;
        top:  $ripple-size;
        width: $ripple-width;
      }
    }

    .e-list-text {
      box-sizing: border-box;
      display: inline-block;
      line-height: $treeview-text-height;
      margin: $treeview-text-margin;
      @if $treeview-skin-name != 'bootstrap4' {
        min-height: $treeview-text-height;
      }
      @else if $treeview-skin-name == 'bootstrap4' {
        min-height: 30px;
      }
      padding: $treeview-text-padding;
      text-decoration: none;
      vertical-align: middle;

      .e-input-group {
        height: $treeview-input-height;
        margin-bottom: 0;
        min-width: 150px;
        vertical-align: bottom;

        @if $treeview-skin-name != 'material' {
          .e-input {
            height: 28px;
          }
        }
      }
    }

    .e-list-icon,
    .e-list-img {
      display: inline-block;
      height: $treeview-image-size;
      margin: $treeview-image-margin;
      vertical-align: middle;
      width: $treeview-image-size;

      & + .e-list-icon,
      & + .e-list-img {
        margin: $treeview-icon-image-margin;
      }

      & + .e-list-text {
        padding: $treeview-image-text-padding;
      }
    }

    .e-icon-collapsible,
    .e-icon-expandable {
      display: inline-block;
      height: $treeview-icon-size;
      margin: $treeview-icon-margin;
      vertical-align: middle;
      width: $treeview-icon-size;
    }

    .e-icon-collapsible::before,
    .e-icon-expandable::before {
      display: inline-block;
      padding: $treeview-icon-padding;
    }

    .e-load {
      -webkit-animation: rotation .5s infinite linear;
      animation: rotation .5s infinite linear;
    }

    .e-sibling {
      @include sibling-style;
      height: 6px;
      margin-top: -5px;
      position: absolute;
      width: 6px;
      z-index: 2;
    }

    .e-text-content + .e-sibling {
      margin-top: -1px;
    }

    .e-sibling::before {
      @include sibling-before(ltr);
      height: 1px;
      position: absolute;
      width: 144px;
      z-index: 2;
    }

    .e-popup {
      @include user-select;
      font-weight: normal;
      position: absolute;
      z-index: 99999;

      .e-content {
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        font-size: 14px;
        padding: 4px;
      }

      .e-icons {
        border: 1px solid transparent;
        cursor: pointer;
        display: inline-block;
        height: 26px;
        line-height: 18px;
        padding: 4px;
        width: 26px;
      }

      .e-downtail::before,
      .e-downtail::after {
        border: 10px solid transparent;
        content: '';
        height: 0;
        left: 8px;
        position: absolute;
        width: 0;
      }

      .e-downtail::after {
        bottom: -18px;
      }
    }

    &.e-fullrow-wrap {

      .e-text-content {
        pointer-events: none;
        position: relative;
      }

      .e-icon-collapsible,
      .e-icon-expandable,
      .e-input,
      .e-list-url {
        pointer-events: auto;
      }
    }

    &.e-drag-item {
      overflow: visible;
      z-index: 10000;

      .e-text-content {
        float: left;
      }
      @if $treeview-skin-name == 'bootstrap4' {
        .e-icon-collapsible,
        .e-icon-expandable {
          margin:  $treeview-drag-icon-margin;
        }
      }

      .e-icon-collapsible::before,
      .e-icon-expandable::before {
        font-size: $treeview-drag-icon-font-size;
        padding: $treeview-drag-icon-padding;
      }

      .e-drop-count {
        border: $treeview-drop-count-border-size solid;
        border-radius: 15px;
        box-sizing: content-box;
        font-size: $treeview-drop-count-font-size;
        @if $treeview-skin-name == 'bootstrap4' {
          line-height: 1.5;
          min-width: 10px;
          padding: 0 5px;
        }
        @else {
          line-height: normal;
          min-width: 12px;
          padding: 3px 5px 4px;
        }
        margin-left: -12px;
        position: absolute;
        text-align: center;
        top: -10px;
      }
    }

    &.e-dragging {

      .e-text-content,
      .e-fullrow {
        cursor: default;
      }
    }

    &.e-rtl {

      .e-ul {
        padding: $treeview-rtl-root-ul-padding;
      }

      .e-list-item {

        .e-ul {
          padding: $treeview-rtl-child-ul-padding;
        }
      }

      .e-text-content {
        padding: $treeview-rtl-text-wrap-padding;
      }

      .e-checkbox-wrapper {
        margin: $treeview-rtl-check-margin;

        & + .e-list-icon,
        & + .e-list-img {
          margin: $treeview-rtl-check-image-margin;
        }
      }

      .e-list-icon,
      .e-list-img {
        margin: $treeview-rtl-image-margin;

        & + .e-list-icon,
        & + .e-list-img {
          margin: $treeview-rtl-icon-image-margin;
        }
      }

      .e-icon-collapsible,
      .e-icon-expandable {
        margin: $treeview-rtl-icon-margin;
      }

      .e-sibling::before {
        @include sibling-before(rtl);
      }

      &.e-drag-item {

        .e-text-content {
          float: right;
        }

        .e-icon-collapsible,
        .e-icon-expandable {
          @if $treeview-skin-name == 'bootstrap4' {
            margin: $treeview-rtl-drag-margin;
          }
        }

        .e-drop-count {
          margin-right: -12px;
        }
      }
    }
  }
  // sass-lint:enable no-vendor-prefixes
}
